
$font__main: sans-serif;
$font__size-body: 15px;
$font__weight-body: 400;
$font__line-height-body: 1.75;
$font__letter-spacing-body: 1px;

$font__weight-headings: 600;
$font__line-height-headings: 1.2;
